.search-container {
    background-color: #282c34;
    text-align: center;
    padding: 20px;
}

.search-input {
    width: 75%;
    padding: 5px;
}

.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.product-container {
    border-right: 1px solid gray;
    margin-left: 7%;
    margin-right: 5px;
}
